<nz-layout class="layout-main">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzWidth="300px" nzBreakpoint="md">
        <div class="logo"></div>
        <div class="input">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="搜索" [(ngModel)]="inputValue" (ngModelChange)="a($event)"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <div class="fix_flex">
            <perfect-scrollbar>
                <ul nz-menu nzTheme="dark" nzMode="inline">
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                    <li nz-submenu nzTitle="User" nzIcon="user">
                        <ul>
                            <li nz-menu-item>Tom</li>
                            <li nz-menu-item>Bill</li>
                            <li nz-menu-item>Alex</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Team" nzIcon="team">
                        <ul>
                            <li nz-menu-item>Team 1</li>
                            <li nz-menu-item>Team 2</li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="file"></i>
                        <span>File</span>
                    </li>
                </ul>
            </perfect-scrollbar>
        </div>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               (click)="isCollapsed = !isCollapsed"></i>
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                Bill is a cat.
            </div>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>
  