.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

:host ::ng-deep{

  .layout-main{
    min-height: 100%;
  }

  .ant-layout-sider-children{
    display: flex;
    flex-direction: column;
  }

  nz-sider{

    .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
    .input{
      height: 32px;
      margin: 16px;
    }

    .fix_flex{
      position: relative;
      width: 100%;
      height: 100%;
      flex: 1;

      perfect-scrollbar{
        position: absolute;
      }
    }


  }


}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
    